[MESSAGES CONTROL]
disable=
    wrong-import-position,
    import-outside-toplevel,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-locals,
    too-many-statements,
    import-error

[FORMAT]
max-line-length=100

[BASIC]
good-names=i,j,k,ex,Run,_